body {
  width: 90%;
  margin: 0 auto;
}
#content{
  overflow: auto;
}
#nav, #footer{
  margin: 1%;
  padding: 1em;
}
#featuredPost{
  margin: 1%;
  height: 10em;
  margin-bottom: 1em;
}
#celfie{
  float: left;
  border-radius: 50%;
  padding: 10px;
}
#header{
  padding: 10px;
}
.article{
  width: 93%;
  float: left;
  margin: 1%;
  height: 10em;
  margin-bottom: 1em;
}
li{
  display: inline;
}
